html, body {
    height: 100%;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.form-container {
    width: 30%;
}

.forecast-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vw;
    background-color: rgba(217, 217, 217, 0.25);
    padding: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    text-align: center;
}

.forecast-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.forecast-display i {
    font-size: 8vw;
    margin-bottom: 1rem;
}

.forecast-text {
    font-weight: bold;
    font-size: 1vw;
}

.nav-link.active {
    font-weight: bold;
}

.home-div {
    text-align: center;
}

.fixed-width-row {
    width: 20vw;
    max-width: 30vw;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input {
    display: flex;
    flex-direction: column;
    align-items: left;
}

h2 {
    color: #242526;
}
